<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>


    
    <button class="payment-btn">결제</button>



    <script src="https://pay.nicepay.co.kr/v1/js/"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>